{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>HTML for loosers</title>
<link rel="stylesheet" type="text/css" href="{% static 'learning2.css' %}">
</head>
<body>
<div class="container">
<div class="box-1">
<h1>kimijima reports</h1>
<h2>vsaFujifilms</h2>
<p><ul>Nevada</ul>
<ul>Dusseldorf</ul>
<ul>Istanbul</ul>
</p>
<p>august 1947, end of the east india company, destruction all over europe. Formation of integrated alliance of the chosen 300.
</p>
<h2>event </h2>
1959 - 1975
*SERN's proton synchrotron is completed.
(1973/02/02) SERN's Z-program is drafted. Electromagnetic research is also already singled out as a primary field of research for the Committee of 300.

*SERN's Z-program database is built using the special, hidden proprietary code of the IBN5100.

*Alpha Attractor Field

>>0.337187% World Line Divergence
(1975) Amadeus arrives on the top of the Radio Kaikan building in SERN's time machine that looks like John Titor of the Beta Attractor Field's 1967 Chevrolet Camaro to attack Titor seconds after his own arrival. She throws Amane Suzuha off the roof.

>>0.409431% World Line Divergence


*Multiple World Line Divergences
(1996/12/22) Salieri is sent as a Rounder to Akihabara.
(1997/8/20) K is active in Akihabara as a Rounder, codename: M2.

</div>
</div>
</body>
</html>